.stripe-6 {
  padding: 10px;
    color: black;
    background: repeating-linear-gradient(
      to right,
      #64bde9,
      #64bde9 10px,
      #8082ff 10px,
      #8082ff 20px
    );
  }